<header>
    <h1 style="display: flex; justify-content: center;">Sito</h1>
</header>
<nav>
    <ul>
        <li routerLink="/">Homepage</li>
        <!--<li routerLink="/about">About</li>
        <li routerLink="/contatti">Contact</li>
        <li routerLink="/user-list">User List</li>
        <li routerLink="/cocktail">Cocktails</li>
        <li routerLink="/admin/report">Report</li>-->
        <li routerLink="/login">Registrazione</li>
        <li routerLink="/profilo">Utenti</li>

    </ul>
</nav>
<router-outlet></router-outlet>